html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    display: none;
}


#map {
    height: 90vh;
    width: 100%;
    position: fixed;
}

#content {
    height: 100vh;
    margin-top : 70px;
}

.loading{
    margin-top : 100px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-weight: bold;
}